<div class="card-container">
  <div class="card">
    <div class="col-md-12">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Email"
          formControlName="email"
          required
          autofocus
          autocomplete="off"
        />
        <input
          type="password"
          class="form-control mb-2"
          placeholder="Password"
          required
          formControlName="password"
          autocomplete="off"
        />
        <button class="mb-1" mat-button color="accent">
          Register
        </button>
        &nbsp;
        <a mat-button [routerLink]="['/login']">Login</a>
      </form>
    </div>
  </div>
