<div class="card-container">
  <div class="card">
    <div class="col-md-12">
      <form [formGroup]="registerForm" class="example-form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            class="form-control mb-2"
            placeholder="test@test.com"
            formControlName="email"
            required
            autofocus
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            class="form-control mb-2"
            placeholder="******"
            required
            formControlName="password"
            autocomplete="off"
          />
        </mat-form-field>
        <div>
          <button
          mat-stroked-button
            color="primary"
            class="mb-1"
            (click)="onRegister()"
          >
            Register
          </button>
          &nbsp;
          <button mat-stroked-button color="accent" [routerLink]="['/login']">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
