<div class="main">
  <h3>product-list works!</h3>
  <section>
    <div class="example-button-row">
      <a
        [routerLink]="['/products']"
        routerLinkActive="router-link-active"
        mat-button
        >List</a
      >
      &nbsp;
      <a
        [routerLink]="['/products/add']"
        routerLinkActive="router-link-active"
        mat-button
        color="primary"
        >Add</a
      >
      &nbsp;
      <a
        [routerLink]="['/products/edit']"
        routerLinkActive="router-link-active"
        mat-button
        color="accent"
        >Update</a
      >
      &nbsp;
      <a
        [routerLink]="['/products/details']"
        routerLinkActive="router-link-active"
        mat-button
        color="warn"
        >Details</a
      >
    </div>
  </section>
</div>
